.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-container > h2{
    text-transform: uppercase;
    border-bottom: 3px solid rgb(182, 23, 182);
}
input{
    border-color: rgb(182, 23, 182);
    padding: 10px;
    text-align: center;
}
.btn{
    color: white;
    background-color: black;
    padding: 10px;

}
.show-text{
    text-align: center;
    width: 50%;
    text-transform: capitalize;
}